[Desktop Entry]
Encoding=UTF-8
Name=TSPWM session
Comment=Delicious window manager
Exec=tspwm-session
Terminal=False
TryExec=tspwm
Type=Application

[Window Manager]
SessionManaged=true